<div class="log-in">
    <img class="log-in-logo" src="assets/img/logo.png">
    <div class="sign-up">
        <span>You wanna join us?</span>
        <button [routerLink]="'/sign-up'" class="button">Sign up</button>
    </div>
    <div class="form-class form-width-mobile">
        <form class="log-in-form">
            <span class="log-in-headline">Log in</span>
            <input [(ngModel)]="email" name="email" class="email-input" placeholder="Email" type="email" required>
            <input [(ngModel)]="password" name="password" class="password-input" placeholder="Password" type="password" required>
            <div class="mobile-login-buttons">
                <button class="button" (click)="login(email, password)">{{loginButtonContent}}</button>
                <button (click)="guestLogIn()" class="button">Guest Log in</button>
            </div>
        </form>
    </div>
</div>
