

<div class="info-content">
    <img class="arrow-back" onclick="window.history.back()" src="/assets/img/arrow_back.png">
    <h1>Info</h1>
    <h2>What is Simple-CRM?</h2>
    <p>Simple-CRM is a modern and user-friendly web application, developed using Angular,
        TypeScript, Material Design and Firebase. It's designed specifically for today's agile business user and provides a set of core
        functionalities essential for efficient customer relationship management.
    </p>
    <h2>How to use it</h2>
    <div>
        <div>
            <p>1) <b>User Management:</b> Create and manage user profiles with just a few clicks.</p>
        </div>
        <div>
            <p>2) <b>News Feed:</b> Integrated feed that pulls current news from an external API, ensuring you always stay updated.</p>
        </div>
        <div>
            <p>3) <b>Calendar Integration:</b> Schedule appointments with your clients and colleagues directly within a comprehensive calendar.</p>
        </div>
        <div class="margin-bot-64">
            <p>4) <b> Platform:</b> Allows users to conduct trades amongst each other, fostering a network of trust and collaboration.</p>
        </div>

        <p><b>Note:</b> Please do not enter any personal data! All data used in Simple-CRM are for demonstration purposes only!</p>
    </div>