<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-container">
      <img class="logo" src="/assets/img/logo.png"> 
      <span class="logo-text">CRM</span>
    </div>

    <ul class="menu-items">
      <li [routerLink]="'/'"><mat-icon>dashboard</mat-icon>Dashboard</li>
      <li [routerLink]="'/user'"><mat-icon>person</mat-icon>User</li>
    </ul>
  </mat-drawer>

  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <img class="menu-icon" src="/assets/img/menu1.png" (click)="drawer.toggle()">
        <span>Dashboard</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>

  </div>

</mat-drawer-container>