.news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.news-content {
    justify-content: space-between;

    a {
        text-decoration: none;
    }
}

.news-card {
    transition: transform 0.3s;
    border-radius: 30px;
    height: 400px;
    width: 400px;
    background-color: #303032;
    box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2);

    &:hover {
        transform: scale(1.01);
        cursor: pointer;
    }

    img {
        object-fit: cover;
        height: 400px;
        width: 400px;
    }

    h2 {
        color: #E67708;
        line-height: 25px;
        margin-top: 8px;
    }
}

//** Media Query **\\

@media (max-width: 1090px) {
    .news-card {
        height: 300px;
        width: 300px;

        img {
            height: 300px;
            width: 300px;
        }
    }
}

@media (max-width: 880px) {
    .news-card {
        height: 250px;
        width: 200px;

        img {
            height: 250px;
            width: 200px;
        }

        h2 {
            font-size: 14px;
            line-height: 15px;
            margin-top: 4px;
        }
    }
}

@media (max-width: 650px) {
    .news-container {
        justify-content: center;
    }
}