<div class="component-box">
    <mat-card class="user-detail-header">
        <img class="logo" src="/assets/img/logo.png">
        <div class="content-box">
            <button [matMenuTriggerFor]="headerMenu" class="vert-icon" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
            </button>
            <button routerLink="/user" class="arrow-back" mat-icon-button>
                <mat-icon fontIcon="arrow_back"></mat-icon>
            </button>

            <mat-menu #headerMenu="matMenu">
                <button mat-menu-item (click)="editUserDetail()">Edit</button>
                <button mat-menu-item (click)="deleteUser()">Delete</button>
            </mat-menu>

            <img class="profile-img" src="/assets/img/profile.png">

            <h2>{{ user.firstName }} {{ user.lastName }}</h2>
            <h3>{{ user.job }}</h3>

            <mat-card-content>
                <mat-icon>mail</mat-icon>
                <a href="mailto:{{ user.email }}">{{ user.email }}</a>
            </mat-card-content>

            <mat-card-content>
                <mat-icon>place</mat-icon>
                {{ user.address }} <br>
                {{ user.zipCode }} {{ user.city }}
            </mat-card-content>

            <mat-card-content>
                <mat-icon>phone</mat-icon>
                <a href="tel:{{ user.phone }}">{{ user.phone }}</a>
            </mat-card-content>
        </div>
    </mat-card>
</div>