.add-button {
    position: absolute;
    top: 155px;
    right: 32px;
}

.search-field {
    width: 100%;
}


mat-card-content {
    padding-left: 0px;
    padding-right: 0px;
}

mat-card {
    font-weight: 600;
}

.mat-mdc-card-content:last-child {
    padding-bottom: 0px;
    padding-top: 0px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
        cursor: pointer;

        &:first-child {
            cursor: unset;

            &:hover {
                background-color: unset;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        &:hover {
            background-color: #303032;
            color: #E67708;
        }

        td {
            height: 50px;

            &:first-child {
                padding-left: 16px;
            }

            &:last-child {
                padding-right: 16px;
            }
        }

        th {
            &:first-child {
                padding-left: 16px;
            }

            &:last-child {
                padding-right: 16px;
            }
        }
    }

    th {
        color: #303032;
        font-size: 14px;
        font-weight: 500;
        text-align: start;
        height: 50px;
    }
}

.add-button[mat-fab][color="primary"] {
    background-color: #E67708;

    &.mat-button-focus-overlay,
    &.mat-button-ripple.mat-ripple {
        background-color: rgba(230, 119, 8, 0.2);
    }
}

//** Media Query **\\

@media (max-width: 800px) {
    .add-button {
        top: 100px;
    }

    .d-none {
        display: none;
    }
}

@media (max-width: 650px) {
    .add-button {
        top: 80px;
    }

    mat-card {
        margin-top: 16px;
        padding-bottom: 70px;
    }
}

@media (max-width: 500px) {
    .d-none-500 {
        display: none;
    }
}