<div class="component-head">
    <div class="headline">Customers</div>
    <div class="slogan">
        <span>Connections that matter!</span>
    </div>
</div>

<mat-card>
    <mat-card-content>
        <mat-form-field class="search-field">
            <input matInput (keyup)="applyFilter($event)" placeholder="Search by first name">
        </mat-form-field>
        <table class="user-table">
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th class="d-none">Position</th>
                <th class="d-none-500">City</th>
            </tr>
            <tr *ngFor="let user of filteredUsers" [routerLink]="['/user/' + user.id]">
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td class="d-none">{{ user.job }}</td>
                <td class="d-none-500">{{ user.city }}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>


<button (click)="openDialog()" class="add-button" mat-fab color="primary" matTooltip="Add new customer"
    matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>