.dashboard-content {
    display: flex;
    flex-wrap: wrap;
}

.pie-chart {
    height: 200px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-chart {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-chart-container {
    display: inline-block;
    width: 62vw;
}

mat-card {
    border-radius: 30px;
    margin: 10px;
    display: inline-block;
    box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2) !important;
}

.guidelines-card {
    padding: 32px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #303032;
    color: #E67708;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.direction {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
        width: 100px;
    }

    span {
        margin-bottom: 16px;
    }
}

.customer-amount {
    margin-top: 32px;
    font-size: 42px;
}

.clickable {
    cursor: pointer;
}

.chart-colors {
    background-color: #303032;
    color: white;
}

.chart-headline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    font-size: 20px;

    span {
        margin-left: 8px;
    }
}

