.dashboard-content {
    display: flex;
    flex-wrap: wrap;
}

.pie-chart {
    height: 200px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-chart {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-chart-container {
    display: inline-block;
    width: 62vw;
}

mat-card {
    border-radius: 30px;
    margin: 5px;
    display: inline-block;
    box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2) !important;
    overflow: hidden;
}

.guidelines-card {
    padding: 32px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #303032;
    color: #E67708;
}

.direction {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
        width: 100px;
        margin-top: 10px;
    }

    span {
        margin-bottom: 16px;
    }
}

.customer-amount {
    margin-top: 32px;
    font-size: 42px;
}

.clickable {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.chart-colors {
    background-color: #303032;
    color: white;
}

.chart-headline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    font-size: 20px;

    span {
        margin-left: 8px;
    }
}

//** Media Query **\\

@media (max-width: 800px) {
    .guidelines-card {
        font-size: 24px;
        padding: 20px;
    }
}

@media (max-width: 650px) {
    .line-chart-container {
        display: none;
    }

    .dashboard-content {
        padding-bottom: 75px;
        justify-content: center;
    }

    .direction {
        span {
            margin-bottom: 5px;
        }

        img {
            width: 80px;
            margin-top: 5px;
        }
    }

    .customer-amount {
        margin-top: 10px;
        font-size: 32px;
    }
}

@media (max-width: 550px) {
    .guidelines-card {
        font-size: 20px;
        padding: 10px;
    }

    .direction {
        img {
            width: 50px;
        }
    }

    .chart-headline {
        margin-top: 10px;
        font-size: 16px;

        span {
            margin-left: 5px;
        }
    }

    .pie-chart {
        padding: 5px;
    }
}

@media (max-width: 500px) {
    .chart-colors {
        display: none;
    }

    mat-card {
        height: 150px;
    }

    .customer-amount {
        margin-top: 5px;
        font-size: 24px;
    }

    .dashboard-content {
        margin-top: 32px;
    }
}

@media (max-width: 430px) {
    .guidelines-card {
        font-size: 16px;
    }
}

@media (max-width: 380px) and (max-height: 670px) {
    .dashboard-content {
        margin-top: 5px;
    }
}

@media (max-width: 360px) and (max-height: 800px) {
    .guidelines-card {
        font-size: 15px;
    }
}