/* You can add global styles to this file, and also import other style files */

html,
body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif !important;
}

.mr-top-32 {
    margin-top: 32px;
}

.padding-16 {
    padding: 16px;
}

.full-width {
    width: 100%;
}

.margin-right {
    margin-right: 16px;
}

.margin-bot-64 {
    margin-bottom: 64px;
}

// manipulate initial text color for filled text fields
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: black !important;
}

// change the color of the floating label when the field is focused
.mdc-text-field--focused .mdc-floating-label {
    color: black !important;
}

// manipulate text color on hover and focus for the form field
.mat-mdc-form-field-focus-overlay {
    color: black !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.meeting-template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    i {
        margin-top: 8px;
        color: #E67708;
        background-color: #303032;
        border-radius: 100%;
        padding: 5px;
        font-size: 16px;
    }
}

.component-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 48px;
    margin-top: 32px;
}

.slogan {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    padding-left: 30px;
    font-weight: 400;
    font-size: 27px;
    border-left: 3px solid #E67708;
}

.headline {
    font-weight: 700;
    font-size: 48px;
    padding-right: 30px;
    margin: 0;
}