<div (click)="closeCard()" *ngIf="selectedDate" class="overlay"></div>

<full-calendar [options]="calendarOptions"></full-calendar>

<mat-card *ngIf="selectedDate" class="meeting-card">
  <mat-card-header>
    <mat-card-title>Meeting for {{ selectedDate | date }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Topic" [(ngModel)]="meetingTopic" required>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Choose a customer" [(value)]="selectedUser">
        <mat-option *ngFor="let user of allUsers" [value]="user">
          {{ user.firstName }} {{ user.lastName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select time" [(value)]="selectedTime">
        <mat-option *ngFor="let time of timeOptions" [value]="time">
          {{time}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card-actions>
      <button type="button" mat-button (click)="closeCard()">Cancel</button>
      <button type="submit" mat-button [disabled]="!meetingTopic.trim()" (click)="saveMeeting()">Save</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>